'editor':
  'fontSize': 13
  'showInvisibles': true
'core':
  'audioBeep': false
  'destroyEmptyPanes': false
  'useReactEditor': true
'welcome':
  'showOnStartup': false
'atom-color-highlight':
  'hideMarkersInComments': true
'atom-spotify': # For home use.
  'showEqualizer': true
'autosave': {}
