/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

@import "packages/file-icons/styles/icons";  // to use the defined icons

@light-gray: #9E9E9E;
@mid-gray:   #444444;
@dark-gray:  #212224;

.tree-icon { .fa; content: "\f1bb"; }

[data-name^=".ruby"]:before,
[data-name^="Gemfile"]:before,
[data-name$=".rb.dist"]:before, {
  .ruby-icon;
}

.icon-file-text[data-name^=".git"]:before {
  .git-icon
}

.icon-file-text[data-name$=".log"]:before, .icon-file-directory[data-name="log"]:before {
  .tree-icon;
}

// Bold the directories in tree-view
.icon-file-directory  {
  font-size: 12px;
  font-weight: bold;
}

// Unbold ignore directories
.status-ignored .icon-file-directory {
  font-weight: normal;
}

// Separate file results by a single line
.results-view .list-nested-item {
  border-bottom: 1px solid;
}

.editor {
  .mini .is-focused {
    background: @dark-gray;
  }
}

// Bold the active tab
.tab-bar .active .title {
  font-weight: bold;
}

// Lighten the active pane
.panes {
  .active .tab-bar {
    background: @mid-gray;
  }
  .tab-bar {
    background: @dark-gray;
  }
}

// Make zen 80 character
.zen {
  .editor {
    width: 800px;
  }
}
